@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root {
  --rubik: 'Rubik', sans-serif;
  --mainColor: #eb1d3540;
  --hoverColor: #eb1d358c;
  --darkerHover: #ca192e8c;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--rubik);
  font-size: calc(10px + 0.33vw);
  color: #111;
}
main {
  padding: 5vh 10vw;
}
h1 {
  font-weight: 500;
  font-size: 4em;
  margin-bottom: 1rem;
  padding-top: 2.5rem;
}
h3 {
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 1rem;
}
ol {
  margin-left: 3em;
}
.front ol li,
.back ol li {
  margin-bottom: 1.1em;
  font-size: 1.6em;
  font-weight: 300;
}
.front a,
.back a {
  font-weight: 300;
}
p {
  font-weight: 300;
  font-size: 1.6em;
  line-height: 2.2rem;
  margin-bottom: 1rem;
  max-width: 28em;
}
a {
  text-decoration: none;
  color: #111;
  position: relative;
  font-weight: 400;
}
a::after {
  content: '';
  width: 50%;
  height: 3px;
  background-color: var(--mainColor);
  position: absolute;
  bottom: -3px;
  left: 0;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
a:hover::after {
  width: 100%;
  background-color: var(--hoverColor);
}
#form {
  max-width: 40rem;
  max-height: 0;
  width: auto;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  -webkit-transition: max-height 0.4s ease-in-out;
  -moz-transition: max-height 0.4s ease-in-out;
  -ms-transition: max-height 0.4s ease-in-out;
  -o-transition: max-height 0.4s ease-in-out;
}
#form.formShow {
  max-height: 400px;
  padding-bottom: 1em;
}
#form input,
#form textarea {
  width: 100%;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  padding: 1em 2em 1em 1.5em;
  box-sizing: border-box;
  margin-bottom: 0.5em;
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  font-family: var(--rubik);
  font-size: calc(11px + 0.33vw);
}
#form textarea {
  resize: vertical;
}
#form input:focus,
#form textarea:focus {
  outline: none;
  border-color: var(--hoverColor);
}
#form button {
  background-color: var(--hoverColor);
  border: none;
  padding: 1em 2em;
  font-family: var(--rubik);
  color: white;
  cursor: pointer;
  box-shadow: -2px 3px 0px rgba(162, 20, 20, 0.3);
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  font-size: calc(11px + 0.33vw);
}
#form button:active {
  box-shadow: none;
  transform: translate(-2px, 3px);
  -webkit-transform: translate(-2px, 3px);
  -moz-transform: translate(-2px, 3px);
  -ms-transform: translate(-2px, 3px);
  -o-transform: translate(-2px, 3px);
  background-color: var(--darkerHover);
}
.btn {
  text-align: right;
}
