@import './base.css';
:root {
  --mainColor: #ee4d4d;
  --hoverColor: #da4242;
  --accentColor: #ff5b5b;
  --accentColorLighter: #f88d8d;
  --backgroundColor: #24272b;
  --secondaryColor: #f2e7d5;
}
body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #333;
}
