@import './base.css';
:root {
  --mainColor: #6d9886;
  --hoverColor: #648a7a;
  --backgroundColor: #393e46;
  --secondaryColor: #f2e7d5;
}
body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
}
