@import './base.css';
:root {
  --mainColor: #ddd;
  --secondaryColor: #222;
  --textColor: #555;
  --textDeeperColor: #333;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondaryColor);
}
body {
  background-color: var(--mainColor);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 0 1.5rem;
}
a {
  text-decoration: none;
  color: #333;
}
::selection {
  background-color: var(--secondaryColor);
  color: white;
}
input:focus,
textarea:focus {
  outline: none;
}
