@import './base.css';
:root {
  --mainColor: #fff;
  --secondaryColor: #222;
}
body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 0 1.5rem;
}
a {
  text-decoration: none;
  color: #333;
}
::selection {
  background-color: var(--secondaryColor);
  color: white;
}
